ul {
    list-style: none;
    padding: 0;
  }
  h1 {
    color: #333;
    padding: 10px 40px;
    border-radius: 5px;
    position: relative;
    font-size: 20px;
}

h1::after {
    content: '';
    display: block;
    width: 3%; /* Short underline width */
    height: 2px;
    background-color: #1593C9;
    position: absolute;
    left: 4.5%;
    bottom: 0;
    transform: translateX(-50%);
}
  li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: space-between; /* Ensures content and buttons are spaced apart */
    align-items: center;
  }
  
  button {
    margin-left: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  