<h2>User Management Dashboard</h2>

<input class="search" type="text" placeholder="Search users..." [(ngModel)]="searchText" (keyup)="onSearchTextChanged()" style="margin-bottom: 10px;margin-top: 10px; padding: 10px; width: 15%;">

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let user of filteredUsers">
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.role }}</td>
    <td>{{ user.status }}</td>
    <td>
      <button class="active" (click)="toggleUserStatus(user)">
        {{ user.status === 'active' ? 'Deactivate' : 'Activate' }}
      </button>
      <button class="delete" (click)="deleteUser(user.uid)">Delete</button>
    </td>
  </tr>
</table>
<div *ngIf="selectedUser" class="user-details">
  <h3>Selected User Details:</h3>
  <p>Name: {{ selectedUser.name }}</p>
  <p>Email: {{ selectedUser.email }}</p>
  <p>Role: {{ selectedUser.role }}</p>
  <p>Status: {{ selectedUser.status }}</p>
  <button (click)="selectedUser = null">Close Details</button>
</div>