/* Basic styling for the dashboard */
h2 {
  color: #333;
  padding: 10px 40px;
  border-radius: 5px;
  position: relative;
  font-size: 20px;
  }
  h2::after {
    content: '';
    display: block;
    width: 7%; /* Short underline width */
    height: 2px;
    background-color: #1593C9;
    position: absolute;
    left: 6.5%;
    bottom: 0;
    transform: translateX(-50%);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding-top: 100px;
    margin-top: 30px;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f5f5f5;
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
  }
  
  button {
    padding: 8px 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    margin-right: 8px;
  }
  button.delete {
    background-color: #e80e19;
  }
  button.delete:hover{
    background-color: #b60b14;
  }
  button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  /* Specific styles for status activation/deactivation */
  button.deactivate {
    background-color: #dc3545;
  }
  
  button.deactivate:hover {
    background-color: #c82333;
  }
  
  button.activate {
    background-color: #28a745;
  }
  
  button.activate:hover {
    background-color: #218838;
  }
  .user-details {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    background-color: #f9f9f9;
  }
 /* Updated search input styling */
input.search {
  width: 50%;                 /* Control width, adjust as needed */
  padding: 8px 12px;          /* Spacing inside the input */
  border: 1px solid #ccc;     /* Subtle, soft border */
  border-radius: 4px;         /* Rounded corners for a modern look */
  background-color: #f9f9f9;  /* Light background to keep it clean and simple */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-size: 16px;            /* Slightly larger font for better readability */
  color: #333;                /* Dark color for text for better contrast */
  transition: all 0.3s ease;  /* Smooth transition for focus effects */
}

/* Enhancing focus state to improve UX */
input.search:focus {
  border-color: #1593C9;      /* Highlight color when focused */
  box-shadow: 0 2px 8px rgba(0, 120, 215, 0.25); /* More prominent shadow on focus */
  outline: none;              /* Remove default focus outline */
}

/* Placeholder styling */
input.search::placeholder {
  color: #aaa;                /* Lighter text for placeholder for clarity */
}
