<!-- navbar.component.html -->
<header>
  <h1>LMS</h1>
  <nav>
    <!-- Common Home link for all logged-in users -->
    <!-- <a *ngIf="isLoggedIn$ | async" routerLink="/home">Home</a> -->

    <!-- Instructor-specific links -->
    <a *ngIf="(isLoggedIn$ | async) && (userRole$ | async) === 'instructor'" routerLink="/instructor-dashboard">Home</a>
    <a *ngIf="(isLoggedIn$ | async) && (userRole$ | async) === 'instructor'" routerLink="/course-creation">Add
      Course</a>
    <a *ngIf="(isLoggedIn$ | async) && (userRole$ | async) === 'instructor'" routerLink="/my-courses">My Courses</a>

    <!-- Student-specific links -->
    <a *ngIf="(isLoggedIn$ | async) && (userRole$ | async) === 'student'" routerLink="/student-dashboard">Home</a>
    <a *ngIf="(isLoggedIn$ | async) && (userRole$ | async) === 'student'" routerLink="/courses">Courses</a>
    <a *ngIf="(isLoggedIn$ | async) && (userRole$ | async) === 'student'" routerLink="/assignments">Assignments</a>
    <a *ngIf="(isLoggedIn$ | async) && (userRole$ | async) === 'student'" routerLink="/grades">Grades</a>
    <a *ngIf="(isLoggedIn$ | async) && (userRole$ | async) === 'student'" routerLink="/completion-status">Completion
      Status</a>

    <!-- Admin-specific links -->
    <a *ngIf="(isLoggedIn$ | async) && (userRole$ | async) === 'admin'" routerLink="/admin-dashboard">Home</a>
    <a *ngIf="(isLoggedIn$ | async) && (userRole$ | async) === 'admin'" routerLink="/accounts">Accounts</a>
    <a *ngIf="(isLoggedIn$ | async) && (userRole$ | async) === 'admin'" routerLink="/course-enrollment">Course
      Enrollment</a>
    <a *ngIf="(isLoggedIn$ | async) && (userRole$ | async) === 'admin'" routerLink="/course-management">Course
      Management</a>

    <!-- Links for non-logged-in users -->
    <a *ngIf="!(isLoggedIn$ | async)" routerLink="/register">Register</a>
    <a *ngIf="!(isLoggedIn$ | async)" routerLink="/login">Login</a>
  </nav>
  <nav class="logout">
    <button *ngIf="isLoggedIn$ | async" (click)="logout()">Logout</button>
  </nav>
</header>