/* navbar.component.css */
header {
  background-color: #1593C9; /* A nice shade of dark blue */
  color: white;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between; /* Keeps items on both ends */
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 20px;
  font-size: 24px;
  flex-shrink: 0; /* Prevents the title from shrinking */
  position: relative;
}

h1::after {
  content: '';
  position: absolute;
  right: -30px; /* Adjust this value as needed */
  top: -30px;
  bottom: 0;
  height: 90px;
  width: 2px; /* Width of the line */
  background-color: white;
}

nav {
  display: flex;
  gap: 20px;
}

nav.logout {
  margin-left: auto; /* This pushes the logout button to the right */
}

nav a, nav button {
  color: white;
  right: -20px;
  text-decoration: none;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 5px 25px;
}

nav a:hover, nav button:hover {
  color: #f1e50a;
}

nav a::after, nav button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f1e50a;
  transition: width 0.3s;
}

nav a:hover::after, nav button:hover::after {
  width: 100%;
}

button {
  padding: 5px 15px;
  background-color: #004494; /* A slightly darker blue */
  border: 1px solid #a6e1fa;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #003570; /* Even darker for the hover state */
  transform: translateY(-2px);
}
