<header class="main-header">
    <h1>Welcome</h1>
</header>
<p>
    Welcome to your account! Here, you have access to a range of essential features. Manage your payments conveniently.
    Manage your academic course registrations. You can also update your personal information, ensuring that your profile
    remains accurate and relevant and services take less time to process. Keep track of your academic progress with easy
    access to your grades, allowing you to monitor your performance.
</p>
<header class="announcements-header">
    <h2>Announcements</h2>
</header>
<p>
    There are no announcements at this time.
</p>