<header class="main-header">
    <h1>Welcome</h1>
</header>
<p>
    Welcome to your admin dashboard, here you'll find everything needed to manage the e-learning platform effectively. From overseeing user
    registrations to managing course content and scheduling, your tools are designed for maximum efficiency. Update and
    maintain platform settings to ensure an optimal user experience.
</p>
<header class="announcements-header">
    <h2>Announcements</h2>
</header>
<p>
    There are no announcements at this time.
</p>