<div class="assignment-submission-container">
  <h2>Submit Your Assignment</h2>
  <div *ngIf="studentId">
    <input type="file" (change)="onFileSelected($event)" id="file">
    <label for="file" class="file-label">Choose a file</label>
    <button (click)="onSubmitAssignment()" [disabled]="!selectedFile" class="submit-button">Submit Assignment</button>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
  <div *ngIf="!studentId">
    <p>Please log in to submit assignments.</p>
  </div>
</div>
