<div>
    <h1>Course Management</h1>
    <ul>
        <li *ngFor="let course of courses">
            {{ course.title }} - {{ course.description }}
            <div class="button-row">
            <button class="edit"(click)="openEditModal(course)">Edit</button>
            <button class="archive"(click)="archiveCourse(course.id)" [disabled]="!course.id">Archive</button>
        </div>
        </li>
    </ul>

    <!-- Edit Course Modal -->
    <div class="modal" [ngStyle]="{ 'display': isEditModalOpen ? 'block' : 'none' }">
        <div class="modal-content">
            <h2>Edit Course</h2>
            <form *ngIf="selectedCourse">
                <label>Title:</label>
                <input type="text" [(ngModel)]="selectedCourse.title" name="title">
                <label>Description:</label>
                <textarea [(ngModel)]="selectedCourse.description" name="description"></textarea>
                <label>Instructor ID:</label>
                <input type="text" [(ngModel)]="selectedCourse.instructorId" name="instructorId">
                <!-- Include other fields as necessary -->
                <button type="button" (click)="updateCourse(selectedCourse)">Save Changes</button>
                <button type="button" (click)="closeEditModal()">Close</button>
            </form>
        </div>
    </div>
</div>